<section id="container">
    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="http://localhost:3000/littleMonster/thongKe" class="logo"><b>LITTLE MONSTER</b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="/dang-xuat">Đăng xuất</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="#"><img src="/images/avatar.jpg" class="img-circle" width="60"></a></p>
                <h5 class="centered">Trần Võ Thục Miên</h5>
                <li class="mt">
                    <a href="http://localhost:3000/san-pham/them-moi">
                        <i class="fa fa-tasks"></i>
                        <span>Thêm mới</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="http://localhost:3000/littleMonster/danhSach">
                        <i class="fa fa-th"></i>
                        <span>Danh Sách</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="http://localhost:3000/littleMonster/thongKe">
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>Thống Kê</span>
                    </a>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Danh Sách</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="content-panel">
                        <h4>
                            <i class="fa fa-angle-right"></i> Phụ Kiện Thú Cưng
                        </h4>
                        <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th class="numeric">STT</th>
                                        <th class="numeric">Mã Phụ Kiện</th>
                                        <th class="numeric">Tên Phụ Kiện</th>
                                        <th class="numeric">Giá Tiền</th>
                                        <th class="numeric">Số Lượng</th>
                                        <th class="numeric">Loại Thú Cưng</th>
                                        <th class="numeric">Mô Tả</th>
                                        <th class="numeric">Ngày Sản Xuất</th>
                                        <th class="numeric">Hình Ảnh</th>
                                        <th class="numeric">Chỉnh Sửa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each danhSach}}
                                    <tr>
                                        <td class="numeric">{{this.index}}</td>
                                        <td class="numeric">{{this._id}}</td>
                                        <td class="numeric">{{this.name}}</td>
                                        <td class="numeric">{{this.price}}</td>
                                        <td class="numeric">{{this.quantity}}</td>
                                        <td class="numeric">{{this.category_id.name}}</td>
                                        <td class="numeric">{{this.description}}</td>
                                        <td class="numeric">{{this.release}}</td>
                                        <td class="numeric"><img src="{{this.image}}" width="100" height="100"></td>
                                        <td class="numeric">
                                            <button type="button" class="btn btn-theme"
                                                onclick="edit('{{this._id}}')"><a style="color: white;">Cập
                                                    Nhật</a></button>
                                            <button type="button" class="btn btn-theme"
                                                onclick="goDelete('{{this._id}}')" data-toggle="modal"
                                                data-target="#confirmModal"><a style="color: white;">Xóa</a></button>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </section>
                    </div><!-- /content-panel -->
                </div><!-- /col-lg-4 -->
            </div><!-- /row -->
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="content-panel">
                        <h4>
                            <i class="fa fa-angle-right"></i> Loại Thú Cưng

                        </h4>
                        <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Mã Loại Thú Cưng</th>
                                        <th>Tên Loại Thú Cưng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>A</td>
                                        <td>MÈO</td>
                                    </tr>
                                    <tr>
                                        <td>B</td>
                                        <td>CHÓ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div><!-- /content-panel -->
                </div><!-- /col-lg-4 -->
            </div><!-- /row -->
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="content-panel">
                        <h4>
                            <i class="fa fa-angle-right"></i> Thành Viên
                        </h4>
                        <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Mã Thành Viên</th>
                                        <th>Tên Thành Viên</th>
                                        <th class="numeric">Số Điện Thoại</th>
                                        <th class="numeric">Email</th>
                                        <th class="numeric">Địa Chỉ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>P000001</td>
                                        <td>Trần Võ Thục Miên</td>
                                        <td class="numeric">0767434341</td>
                                        <td class="numeric">mientvtps18620@fpt.edu.vn</td>
                                        <td class="numeric">26/72/10 Đường số 7, Phường 3, Gò Vấp</td>
                                    </tr>
                                    <tr>
                                        <td>P000002</td>
                                        <td>Phạm Tô Bảo Châu</td>
                                        <td class="numeric">0589476419</td>
                                        <td class="numeric">phamtobaochau@gmail.com</td>
                                        <td class="numeric">27 Nguyễn Tuân, Phường 3, Gò Vấp</td>
                                    </tr>
                                    <tr>
                                        <td>P000003</td>
                                        <td>Trần Võ Minh Nguyệt</td>
                                        <td class="numeric">0901663120</td>
                                        <td class="numeric">tranvominhnguyet@gmail.com</td>
                                        <td class="numeric">26/72/10 Đường số 7, Phường 3, Gò Vấp</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div><!-- /content-panel -->
                </div><!-- /col-lg-4 -->
            </div><!-- /row -->
        </section>
        <! --/wrapper -->
    </section><!-- /MAIN CONTENT -->

</section>

<!--  Modals-->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm action</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <h3>Are you sure?</h3>
                    <div class="form-group modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="onDelete()" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modals-->

<script>
    //http://localhost:3000/san-pham/:id/edit
    const edit = (id) => {
        window.location.href = `/san-pham/${id}/edit`
    }

    let deleted_id;

    const goDelete = (id) => {
        deleted_id = id;
    }

    const fetchAPI = async (url, option) => {
        const res = await fetch(url, option);
        return res.json();
    }

    const onDelete = async () => {
        const url = `http://localhost:3000/san-pham/${deleted_id}/delete`;
        const option = {
            method: 'delete',
            headers: { 'Content-Type': 'application/json' }
        }
        try {
            await fetchAPI(url, option);
            window.location.href = '/san-pham';
        } catch (e) { console.log('Delete error: ', e) }
    }

</script>